<button class="btn btn-primary" (click)="toggleMessage()">Show me a Truth</button>
&nbsp;
<span *ngIf="messageVisible">The earth is Flat, research it! I thought it was bullshit, but it's true.</span>

<div
  *ngFor="let click of clicks">
    <p
      [ngStyle]="getBackgroundColor(click.counter)"
      [ngClass]="{whitecolor: click.counter >= 5}"> {{ click.message }} </p>
</div>
