<label for="username">User Name: </label>
<input
  id="username"
  type="text"
  class="form-control"
  [(ngModel)]="userName">
<p>{{ userName }}</p>
<p [innerText]="userName"></p>
<button class="btn btn-primary" [disabled]="onUserNameIsEmpty()" (click)="clearUserName()">Clear</button>