<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <app-servers></app-servers>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
        </div>
        <hr>
        <div class="col-xs-12">
            <h3>Alert Messages</h3>
            <hr>
            <app-success-alert></app-success-alert>
            <app-warning-alert></app-warning-alert>
            <app-danger-alert></app-danger-alert>
        </div>
        <div class="col-xs-12">
            <app-second-assignment></app-second-assignment>
        </div>
        <div class="col-xs-12">
            <br>
            <app-directives-assignment></app-directives-assignment>
        </div>
        
    </div>
</div>